body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 400px;
    margin: auto;
    padding: 20px;
    background: white;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
}

button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
}

.error {
    color: red;
}

.alert {
    background: lightgreen;
    padding: 10px;
}

.dashboard {
    text-align: center;
}

.actions {
    margin-top: 20px;
}

.logout-btn {
    background: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}